services:
  backend:
    build:
      context: .
    ports:
      - "443:443"
    environment:
      PORT: "443"
      SSL_DIR: /app/data/ssl
      SSL_CERT_PATH: /app/data/ssl/cert.pem
      SSL_KEY_PATH: /app/data/ssl/key.pem
      LE_ENABLED: "true"
      LE_EMAIL: "lorenzo.contessa02@gmail.com"
      LE_DOMAINS: "widlifespotter.app,*.widlifespotter.app"
      CLOUDFLARE_API_TOKEN: "${CLOUDFLARE_API_TOKEN:-}"
      LE_DIR: /app/data/letsencrypt
    volumes:
      - /opt/data:/app/data
  certbot:
    build:
      context: .
    environment:
      LE_ENABLED: "true"
      LE_EMAIL: "lorenzo.contessa02@gmail.com"
      LE_DOMAINS: "widlifespotter.app,*.widlifespotter.app"
      CLOUDFLARE_API_TOKEN: "${CLOUDFLARE_API_TOKEN:-}"
      LE_DIR: /app/data/letsencrypt
    volumes:
      - /opt/data:/app/data
    command: ["/app/letsencrypt-renew.sh"]
